body {
    background-color: tan;
    font-family: monospace;
    font-size: 2vmax;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
}

p {
    text-align: justify;
}

.content {
    padding: 30px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.nav-links {
    flex: 1;
    text-align: center;
}